<nav class="navbar-inverse">
  <div class="container-fluid">
  	 <ul class="nav navbar-nav"> 
      <li><a href="#">Projects</a></li>
      <li><%= link_to "Users" ,admin_users_path %></li>
      <li><a href="#">Clients</a></li>
      <li><%= link_to "Edit Profile" ,edit_user_registration_path %></li>

     </ul>
  </div>
</nav>
